* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #000000;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 32px;
    background-color: #000000;
    color: #fff;
    border-bottom: 4px solid #ff0000;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  
  .netflix-img{
    width:100px;
    height:auto;
}