body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('images/netflix-hero.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #fff; /* White text color */
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none; /* Remove border */
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="email"],
input[type="password"] {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

input[type="submit"] {
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c5000b;
}
